*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image-size-custom {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

td.client-photo-size {
    width: 30px;
    height: 30px;
}

td.post-image-size {
    width: 75px;
    height: auto;
}

.category-items-box {
    height: 300px;
}




.bxslider-ticker>li>a:before {
    content: '';
    width: 10px;
    height: 10px;
    background: red;
    position: absolute;
    top: 15%;
    left: -5%;
    display: block;
}

.bxslider-ticker>li>a {
    position: relative;
}

.bxslider-ticker>li {
    padding-left: 10px;
}

.bg-transparent-50-parcent-black{
    background-color: rgba(0,0,0,0.5);
}